<center><table>
    <tr>
        <th><img src="./INL1.png",align="middle",height="10000"/></th>
        <th><img src="./MIT1.png",align="middle",height="10"\></th>
        <th><img src="./ANL.png",align="middle",height="10"/></th>
    </tr>
</table>
</center>

# <center>Cost Reduction Framework for Nuclear Reactor Power Plants</center>
This notebook demonstrates the impact of various levers on the cost of a nuclear power plant.

It begins with a baseline cost sheet, followed by an estimation of how each lever affects the overall cost. Levers that may influence the cost include design completion, modularity, interest rates,.etc

This notebook is useful for exploring how these levers contribute to cost overruns or savings, step by step. Users who are only interested in the final result can utilize the last section, which includes a Python function that calculates the impact of all the levers in a single step.

For a detailed understanding of the details behind this framework, please check [this report](https://www.osti.gov/biblio/2361138)

###  Importing the libraries

In [1]:
import pandas as pd
import numpy as np
from src import prettify, update_high_level_costs, ITC_reduction_factor, update_cons_duration, sum_lab_hrs, update_cons_duration_2

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.set_option('display.max_rows', None)

## Section 1 : Reading the Baseline reactor Cost Summary Table

In [2]:
# A function to read the inital reactor data from excel

def reactor_data_read(reactor_type):
    
    if reactor_type == "Concept A":
        # Reading excel or csv files
        Reactor_data_0 = pd.read_excel('inputs.xlsx', sheet_name = "Concept_A", nrows= 69)
        reactor_power = 1056 * 1000 # kw
        
        
    elif reactor_type == "Concept B":
        # Reading excel or csv files
        Reactor_data_0 = pd.read_excel('inputs.xlsx', sheet_name = "Concept_B", nrows= 69)
        reactor_power = 310.8 * 1000 # kw    
        
    db = pd.DataFrame()
    db = Reactor_data_0[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    Reactor_data = db
    return Reactor_data, reactor_power


# Example
reactor_type = "Concept A"
reactor_data__ = (reactor_data_read(reactor_type ))[0]
reactor_data = reactor_data__ [['Account',	'Title', 'Factory Equipment Cost' , 'Site Material Cost' , 'Site Labor Cost' , 'Site Labor Hours' , 'Total Cost (USD)']]
reactor_data
reactor_power = (reactor_data_read(reactor_type ))[1]
Reactor_data_pretty = prettify(reactor_data,\
    f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> FOAK Capital Cost Summary - Baseline hypothetical well-executeed project <br><br> ", "no_subsidies")
Reactor_data_pretty

## Section - 2 : User Inputs

In [3]:
## ## User-defined Independent Variables (Global Levers)

# reactor type: Concept A or Concept B
reactor_type = "Concept A"

# Which reactor unit: first of a kind : nth of a kind 
n_th = 1

# number of firm orders
num_orders = 13

# land cost
# From the SA report: the cost $22,000 per acre. The land area is 500 acres including recommended buffer
land_cost_per_acre_0 =  22000 # dollars/acre

# start up duration (months) 
startup_0 = 16 

# interest rate :
interest_rate_0 = 0.06

# Design completion
design_completion_0 = 0.8 # 1 means 100%

# Design maturity
Design_Maturity_0 = 1

# #procurement service experience (supply chain experience)
proc_exp_0= 0.5 # 2 means procurement experts. This is ideal. 
   
# #  architecture and engineeringexperience
ae_exp_0 = 0.5
    
# #  Construction service experience
ce_exp_0 = 1


# numb er of projects for full efficiency of procurement, A/E, Construction
N_proc = 3
N_AE  = 4
N_cons =5

# modularity : "stick_built"  or "modularized"
mod_0 = "modularized" 

    

# cross_site_standardization :
standardization_0 = 0.8 # 0.7 corresponds to 70% standardization for PWRs

# # Determining if the BOP and reactor building (containtment) are non-nuclear or nuclear grade equipment (safety related)
BOP_grade_0 = "non_nuclear"
RB_grade_0 = "nuclear"

# #investment tax credits subsidies
ITC_0 = 0.06

#number of reactors claiming ITC
n_ITC = 3 

# factory building cost (associated with accounts 22 and 232.1)
f_22   = 250000000
f_2321 = 150000000


     
global_levers = pd.DataFrame()
global_levers.loc[:, 'Lever'] = ['Design Maturity' ,'Design Completion',\
                                  'Procurement (supply chain) experience ','Architecture & Engineering Experience',\
                                 'Construction service experience',' Land Cost Per Acre (2023 USD)',\
                                'ITC ', ' Interest Rate', 'BOP grade ', 'Reactor Building grade', 'modulariziation',\
                                 'standardization' , "Startup duration (months)"]

global_levers.loc[:, 'User-Input Value'] = [ Design_Maturity_0 ,design_completion_0, proc_exp_0, ae_exp_0, ce_exp_0, 
                                            land_cost_per_acre_0, ITC_0, interest_rate_0, BOP_grade_0  , RB_grade_0 , mod_0,\
                                            standardization_0,  startup_0] 

global_levers.loc[:, 'Lever baseline value (for a hopothetical well-executed project)'] = [ 2, 1, 2, 2, 2, 22000, 0, 0.06 ,\
                                                                                           'nuclear', 'nuclear', "modularized", 0.7 , 16 ]

global_levers.loc[:, 'Range'] = ['0 - 2' ,'0 - 1', '0 - 2', '0 - 2','0 - 2' , '1000 - 100000', '0 - 0.4', '0 - 0.15',\
                                 "nuclear or non-nuclear", "nuclear or non-nuclear",  'stick_built or modularized', '0.7 : 1','3 : 24']



global_levers_changes = global_levers[global_levers['User-Input Value'] != global_levers['Lever baseline value (for a hopothetical well-executed project)']]

slice_ = pd.IndexSlice[global_levers_changes .index, global_levers_changes .columns]
global_levers_styled = (global_levers.style.set_properties(**{'background-color': 'yellow'}, subset=slice_ )\
                            .set_caption("User-Input Global levers <br> (highlighted in yellow if different from the baseline) <br>")\
                        .set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'blue'),
        ('font-size', '20px')
    ]
}]))


global_levers_styled.hide()

### The Cost reduction framework: levers and variables impact the costs as shown in the figure (below)

<center><table>
    <tr>
        <th><img src="./framework_diagram.png",align="middle",height="10000"/></th>
    </tr>
</table>
</center>

## Section - 3 : Updating the Cost Summary based on user inputs

### Section - 3-0 : Adding the factory cost to accounts 22 and 232.1

In [4]:
def add_factory_cost(Reactor_data_0, power, f_22, f_2321):
    db = pd.DataFrame()
    db = Reactor_data_0[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    db.loc[db.Account == 22, 'Factory Equipment Cost'] = None # clear old values
    db.loc[db.Account == '232.1', 'Factory Equipment Cost'] = None # clear old values

  
    db.loc[db.Account == 22, 'Factory Equipment Cost'] = ((Reactor_data_0.loc[Reactor_data_0.Account == 22, 'Factory Equipment Cost']) + f_22/num_orders )
    db.loc[db.Account == '232.1', 'Factory Equipment Cost'] = ((Reactor_data_0.loc[Reactor_data_0.Account == '232.1', 'Factory Equipment Cost']) + f_2321/num_orders)


    Reactor_data_fac = update_high_level_costs(db, power)
    ref_tot_lab_hrs = sum_lab_hrs (Reactor_data_fac)

    Reactor_data_fac_ = pd.DataFrame()
    Reactor_data_fac_ = Reactor_data_fac[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    
    return Reactor_data_fac_  , ref_tot_lab_hrs



# Example 

reactor_data = (reactor_data_read(reactor_type ))[0]
reactor_power = (reactor_data_read(reactor_type ))[1]

Reactor_data_factory = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[0]
Reactor_data_factory_pretty = prettify(Reactor_data_factory,\
    f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Factories Cost Included  <br> Displaying Direct Cost only<br><br> ", "no_subsidies")

# # list of rows to hide (not affected by this cost change)
list1 = list(range(0, 11))
list2 = list(range(29, 69))
hidden_list1 = list1 + list2

Reactor_data_factory_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

### Section 3-1 : The land cost & Taxes

In [5]:
# The cost of the land is 22000$ per acre (500 acres
# The cost is multiplied by the new $/acre divided by the old one
# Accounts 11 and 12 are changed

def add_land_cost(Reactor_data_fac, land_cost_per_acre, power):

    db = pd.DataFrame()
    db = Reactor_data_fac[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

   
    db.loc[db.Account == 11, 'Total Cost (USD)'] = None # clear old values
    db.loc[db.Account == 12, 'Total Cost (USD)'] = None # clear old values
    db.loc[db.Account == 51, 'Total Cost (USD)'] = None # clear old values
    

    db.loc[db.Account == 11, 'Total Cost (USD)'] = (land_cost_per_acre /22000)*(Reactor_data_fac.loc[Reactor_data_fac.Account == 11, 'Total Cost (USD)'].values)
    db.loc[db.Account == 12, 'Total Cost (USD)'] = (land_cost_per_acre /22000)*(Reactor_data_fac.loc[Reactor_data_fac.Account == 12, 'Total Cost (USD)'].values)


    # The taxes scale with increasing the land cost 
    db.loc[db.Account == 51, 'Total Cost (USD)'] = (land_cost_per_acre /22000)*(Reactor_data_fac.loc[Reactor_data_fac.Account == 51, 'Total Cost (USD)'].values)

    db.loc[db.Account == 51, 'Total Cost (USD)']
    Reactor_data_updated_1 = update_high_level_costs(db, power)


    Reactor_data_updated_1_ = pd.DataFrame()
    Reactor_data_updated_1_ = Reactor_data_updated_1[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    return Reactor_data_updated_1_
 

# Example 
reactor_data = (reactor_data_read(reactor_type ))[0]
reactor_power = (reactor_data_read(reactor_type ))[1]

Reactor_data_factory = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[0]

Reactor_data_factory_land_taxes = add_land_cost(Reactor_data_factory , land_cost_per_acre_0, reactor_power)
Reactor_data_factory_land_taxes_pretty = prettify(Reactor_data_factory_land_taxes,\
    f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Factories Cost, land cost and taxes Included  <br><br> ", "no_subsidies")

# list of rows to hide (not affected by this cost change)
hidden_list2 = list(range(46, 69))

Reactor_data_factory_land_taxes_pretty.hide(subset=hidden_list2, axis=0) # show direct cost only

### Section 3-2 : Whether the Reactor Building and BOP are nuclear grade equipment

In [6]:
# if the BOP is non-nuclear, the cost reduction factor for account 213 is 0.6
# Also, the cost reduction factor for account 232.1 is 0.6 (for factory and labor but not material)

# If the reactor building is non nuclear, the cost reduction factor for acount 212 is 0.6

def add_BOP_RP_grades(Reactor_data_updated_1, RB_grade_0, BOP_grade_0, power, reactor_type):
    
    RB_grade = RB_grade_0     # Does not change when building more units
    BOP_grade = BOP_grade_0   # Does not change when building more units
    
   
    
    db = pd.DataFrame()

    db = Reactor_data_updated_1[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    db.loc[db.Account == 212, 'Site Material Cost'] = None # clear old values
    db.loc[db.Account == 212, 'Site Labor Cost'] = None # clear old values
    db.loc[db.Account ==  212, 'Site Labor Hours'] = None
    db.loc[db.Account ==  212, 'Factory Equipment Cost'] = None

    db.loc[db.Account ==  213, 'Site Material Cost'] = None
    db.loc[db.Account ==  213, 'Site Labor Cost']  = None
    db.loc[db.Account ==  213, 'Site Labor Hours'] = None
    db.loc[db.Account ==  213, 'Factory Equipment Cost'] = None

    db.loc[db.Account ==  '232.1', 'Factory Equipment Cost'] = None
    db.loc[db.Account ==  '232.1', 'Site Labor Cost'] = None
    db.loc[db.Account ==  '232.1', 'Site Labor Hours'] = None


    if RB_grade == "non_nuclear":
        db.loc[db.Account == 212, 'Site Material Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Material Cost']).values)
        db.loc[db.Account == 212, 'Site Labor Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Labor Cost']).values)
        db.loc[db.Account == 212,'Site Labor Hours'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Labor Hours']).values)
        db.loc[db.Account == 212,'Factory Equipment Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Factory Equipment Cost']).values)

    else:
        db.loc[db.Account == 212, 'Site Material Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Material Cost']).values)
        db.loc[db.Account == 212, 'Site Labor Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Labor Cost']).values)
        db.loc[db.Account == 212,'Site Labor Hours'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Site Labor Hours']).values)
        db.loc[db.Account == 212,'Factory Equipment Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 212, 'Factory Equipment Cost']).values)

    
    if BOP_grade == "non_nuclear":
        db.loc[db.Account == 213, 'Site Material Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Material Cost']).values)
        db.loc[db.Account == 213, 'Site Labor Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Labor Cost']).values)
        db.loc[db.Account == 213, 'Site Labor Hours'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Labor Hours']).values)
        db.loc[db.Account == 213, 'Factory Equipment Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Factory Equipment Cost']).values)

        db.loc[db.Account == '232.1', 'Factory Equipment Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Factory Equipment Cost']).values)
        db.loc[db.Account == '232.1', 'Site Labor Hours'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Site Labor Hours']).values)
        db.loc[db.Account == '232.1', 'Site Labor Cost'] = 0.6*((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Site Labor Cost']).values)


    else:
        db.loc[db.Account == 213, 'Site Material Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Material Cost']).values)
        db.loc[db.Account == 213, 'Site Labor Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Labor Cost']).values)
        db.loc[db.Account == 213, 'Site Labor Hours'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Site Labor Hours']).values)
        db.loc[db.Account == 213, 'Factory Equipment Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == 213, 'Factory Equipment Cost']).values)

        db.loc[db.Account == '232.1', 'Factory Equipment Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Factory Equipment Cost']).values)
        db.loc[db.Account == '232.1', 'Site Labor Hours'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Site Labor Hours']).values)
        db.loc[db.Account == '232.1', 'Site Labor Cost'] = ((Reactor_data_updated_1.loc[Reactor_data_updated_1.Account == '232.1', 'Site Labor Cost']).values)


    Reactor_data_updated_2 = update_high_level_costs(db, power)

    Reactor_data_updated_2_ = pd.DataFrame()
    Reactor_data_updated_2_ = Reactor_data_updated_2[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    

     
    if reactor_type == "Concept A":
        duration = 125
    elif reactor_type == "Concept B": 
        duration = 80
          
    new_dur = update_cons_duration(Reactor_data_updated_1, Reactor_data_updated_2,  duration)
   
     #apply modularity factor affecting the construction duration 
    if mod_0 == "modularized" :
        mod_factor = 0.8
    else:   
        mod_factor = 1
    
    new_dur_1 = new_dur * mod_factor 
    return Reactor_data_updated_2_ , new_dur_1


# # Example 
reactor_data = (reactor_data_read(reactor_type ))[0]
reactor_power = (reactor_data_read(reactor_type ))[1]

Reactor_data_factory = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[0]

Reactor_data_factory_land_taxes = add_land_cost(Reactor_data_factory , land_cost_per_acre_0, reactor_power)
Reactor_data_factory_land_taxes_BOP_RP_grades_result = add_BOP_RP_grades(Reactor_data_factory_land_taxes  , RB_grade_0, BOP_grade_0, reactor_power, reactor_type)
Reactor_data_factory_land_taxes_BOP_RP_grades = Reactor_data_factory_land_taxes_BOP_RP_grades_result[0]
current_cons_duration = Reactor_data_factory_land_taxes_BOP_RP_grades_result[1][0]


Reactor_data_factory_land_taxes_BOP_RP_grades_pretty = prettify(Reactor_data_factory_land_taxes_BOP_RP_grades ,\
    f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Factories Cost, land cost, taxes and BOP/RP grades Included  <br> Displaying Direct Cost only<br><br> ", "no_subsidies")


print("The current construction duration (months) = ", current_cons_duration )
Reactor_data_factory_land_taxes_BOP_RP_grades_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

The current construction duration (months) =  99.0409507984412

### Section 3-3 : Bulk Ordering

In [7]:
#The factory equipment cost of  accounts 22 and 232.1 has to be divided by the number of orders
# The factory equipment cost of account 22 is multiplied by a reuction factor
# The factory equipment cost of account 232.1 is multiplied by a reduction factor


def add_bulk_ordering(Reactor_data_updated_3, num_orders, f_22, f_2321, power):
    db = pd.DataFrame()

    db = Reactor_data_updated_3[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    # esimtated learning rates
    lr22   = 0.1802341659291420
    lr2321 = 0.2607462372040820

    # These reduction factor are calculated as follows
    reduction_factor_22 = 0 # initialization
    reduction_factor_2321 = 0

    for ith_unit in  range(1,num_orders+1):
        reduction_factor_22+=((1 - lr22)**np.log2(ith_unit))/num_orders # for account 22
        reduction_factor_2321+=((1 - lr2321)**np.log2(ith_unit))/num_orders # for account 232.1


        
    for x in [ 22, '232.1']:  
        db.loc[db.Account == x, 'Factory Equipment Cost'] = None # clear old values


    # note that the cost reduction factor impacts the cost of the component not the cost of the factory
    db.loc[db.Account == 22, 'Factory Equipment Cost']       = reduction_factor_22   *  (    ( Reactor_data_updated_3.loc[ Reactor_data_updated_3.Account == 22, 'Factory Equipment Cost']   ) - ( f_22/num_orders) ) + (f_22/num_orders) 
    db.loc[db.Account == '232.1', 'Factory Equipment Cost']  = reduction_factor_2321 *   (  ( Reactor_data_updated_3.loc[ Reactor_data_updated_3.Account == '232.1', 'Factory Equipment Cost']) - ( f_2321/num_orders)) +(f_2321/num_orders) 

    

    Reactor_data_updated_4 = update_high_level_costs(db, power)
    Reactor_data_updated_4_ = pd.DataFrame()
    Reactor_data_updated_4_ = Reactor_data_updated_4[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    return Reactor_data_updated_4_ 



# # Example 
reactor_data = (reactor_data_read(reactor_type ))[0]
reactor_power = (reactor_data_read(reactor_type ))[1]

Reactor_data_factory = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[0]

Reactor_data_factory_land_taxes = add_land_cost(Reactor_data_factory , land_cost_per_acre_0, reactor_power)
Reactor_data_factory_land_taxes_BOP_RP_grades = add_BOP_RP_grades(Reactor_data_factory_land_taxes  , RB_grade_0, BOP_grade_0, reactor_power, reactor_type)[0]
Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder = add_bulk_ordering(Reactor_data_factory_land_taxes_BOP_RP_grades , num_orders, f_22, f_2321, reactor_power)


Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_pretty = prettify(Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder,\
    f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Factories Cost, land cost, taxes, BOP/RP grades , bulk ordering Included  <br> Displaying Direct Cost only<br><br> ", "no_subsidies")
Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

### Section 3-4 : Reworking and labor productivity

In [8]:
def add_reworking_productivity(Reactor_data_updated_4, reactor_type, n_th, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, power, prev_cons_duration, baseline_lab_hours):
    #Reworking = f(AE, CE, design completion)
    
    if n_th == 1:
        design_completion = design_completion_0
        ae_exp = ae_exp_0
        ce_exp = ce_exp_0
        
    elif n_th > 1:
        design_completion = 1   
        ae_exp = min( (ae_exp_0 + (2/N_AE)*(n_th-1) ), 2)
        ce_exp = min( (ce_exp_0 + (2/N_cons)*(n_th-1) ), 2)
    
    # # labor productivity factor = f(construction experience level)
    productivity = 0.145*ce_exp + 0.71        
            

    if reactor_type == "Concept B":
        reworking_factor =  (-0.9*design_completion+ 1.9) * (-0.15*ae_exp+1.3) * (-0.15*ce_exp+1.3) 

    elif reactor_type == "Concept A":
        reworking_factor =  (-0.69*design_completion+ 1.69) * (-0.125*ae_exp+1.25) * (-0.125*ce_exp+1.25) 

    db = pd.DataFrame()

    db = Reactor_data_updated_4[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    for x in [212, 213, '211 plus 214 to 219',22, '232.1', 233, 24, 26]:  
        db.loc[db.Account == x, 'Factory Equipment Cost'] = None # clear old values
        db.loc[db.Account == x, 'Site Labor Hours'] = None
        db.loc[db.Account == x, 'Site Labor Cost'] = None
        db.loc[db.Account == x, 'Site Material Cost'] = None

    for x in [212, 213, '211 plus 214 to 219',22, '232.1', 233, 24, 26]: 
        db.loc[db.Account == x, 'Factory Equipment Cost'] =\
            ((( Reactor_data_updated_4.loc[ Reactor_data_updated_4.Account == x, 'Factory Equipment Cost']).values)[0])*reworking_factor  
        db.loc[db.Account == x, 'Site Labor Hours'] =\
            ((( Reactor_data_updated_4.loc[ Reactor_data_updated_4.Account == x, 'Site Labor Hours']).values)[0])*reworking_factor/productivity
        db.loc[db.Account == x, 'Site Labor Cost'] =\
            ((( Reactor_data_updated_4.loc[ Reactor_data_updated_4.Account == x, 'Site Labor Cost']).values)[0])*reworking_factor/productivity 
        db.loc[db.Account == x, 'Site Material Cost'] =\
            ((( Reactor_data_updated_4.loc[ Reactor_data_updated_4.Account == x, 'Site Material Cost']).values)[0])*reworking_factor 


    

    Reactor_data_updated_5 = update_high_level_costs(db, power)
    Reactor_data_updated_5_ = pd.DataFrame()
    Reactor_data_updated_5_ = Reactor_data_updated_5[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    # update the construction duration
    if reactor_type == "Concept A":
        reactor_type_ref_duration = 125
    elif reactor_type == "Concept B": 
        reactor_type_ref_duration = 80
        
    new_dur    = update_cons_duration_2(Reactor_data_updated_4, Reactor_data_updated_5_, reactor_type_ref_duration, prev_cons_duration, baseline_lab_hours)
    print(prev_cons_duration, "wer")
    return Reactor_data_updated_5_  , new_dur
 


# # Example 

reactor_data = (reactor_data_read(reactor_type ))[0]
reactor_power = (reactor_data_read(reactor_type ))[1]

Reactor_data_factory = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[0]
baseline_lab_hours = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))[1]

Reactor_data_factory_land_taxes = add_land_cost(Reactor_data_factory , land_cost_per_acre_0, reactor_power)
Reactor_data_factory_land_taxes_BOP_RP_grades = add_BOP_RP_grades(Reactor_data_factory_land_taxes  , RB_grade_0, BOP_grade_0, reactor_power, reactor_type)[0]
prev_cons_duration = add_BOP_RP_grades(Reactor_data_factory_land_taxes  , RB_grade_0, BOP_grade_0, reactor_power, reactor_type)[1]
Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder = add_bulk_ordering(Reactor_data_factory_land_taxes_BOP_RP_grades , num_orders, f_22, f_2321, reactor_power)
Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity_results =\
    add_reworking_productivity(Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder , reactor_type, n_th , design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, reactor_power, prev_cons_duration, baseline_lab_hours)

Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity = Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity_results[0]

Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity_pretty = prettify(Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity,\
        f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor Capital Cost Summary <br> Factories Cost, land cost, taxes, BOP/RP grades , bulk ordering, reworking and productivity Included  <br> Displaying Direct Cost only<br><br> ", "no_subsidies")

print(f"The Current Construction Duration is {Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity_results[1][0]} months")
Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

[99.0409508] wer
The Current Construction Duration is 127.28781309848752 months

#### Combine the previous functions in one function

In [9]:
# Combine the previous functions in one function

def update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons):
    reactor_data, reactor_power = (reactor_data_read(reactor_type ))
    
    Reactor_data_factory, baseline_lab_hours = (add_factory_cost(reactor_data , reactor_power, f_22, f_2321))
    
    Reactor_data_factory_land_taxes = add_land_cost(Reactor_data_factory , land_cost_per_acre_0, reactor_power)
    Reactor_data_factory_land_taxes_BOP_RP_grades , prev_cons_duration = (add_BOP_RP_grades(Reactor_data_factory_land_taxes  , RB_grade_0, BOP_grade_0, reactor_power, reactor_type))

    Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder = add_bulk_ordering(Reactor_data_factory_land_taxes_BOP_RP_grades , num_orders, f_22, f_2321, reactor_power)
    
    Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity , new_dur_2=\
    (add_reworking_productivity(Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder , reactor_type, n_th , design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, reactor_power, prev_cons_duration, baseline_lab_hours))
    

    return Reactor_data_factory_land_taxes_BOP_RP_grades_bulkOrder_rework_productivity, new_dur_2

# example 

reactor_data, reactor_power = (reactor_data_read(reactor_type ))

direct_cost_updated, current_const_duration = update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons)

direct_cost_updated_pretty = prettify(direct_cost_updated,\
        f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Direct Cost Updated <br><br> ", "no_subsidies")
direct_cost_updated_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

[99.0409508] wer

### Section 3-5 Learning by doing effect on the cost

In [10]:

def learning_effect(Reactor_data_updated_5, n_th, standardization_0, power):

    if n_th  == 1:
        standardization = 0.7
    elif n_th >1:
        standardization = standardization_0    
        
    # # Creating the table for the learning rates
    # #These rates are from KS-TIMCAT results.
    # # The learning rates are multiplied by the standardization divded by 0.7 (since the standatization of PWRs was 0.7)
    fitted_LR = pd.DataFrame()

    fitted_LR.loc[:, 'Account'] = Reactor_data_updated_5.loc[:, 'Account']
    fitted_LR.loc[:, 'Title'] = Reactor_data_updated_5.loc[:, 'Title']
    fitted_LR = fitted_LR.loc[fitted_LR['Account'].isin([212, 213, '211 plus 214 to 219', 22, '232.1', 233, 24, 26])]

    fitted_LR['Mat LR'] = np.array([0.099588665391, 0.099588665391, 0.099588665391, 0.080817992281, 0.0000000, 0.099588665391,\
                                    0.099588665391,0.099588665391])*standardization/0.7

    fitted_LR['Lab LR'] =     np.array([0.180678729399, 0.180678729399, 0.180678729399,0.146555539499, 0.137148574884,\
                                        0.180678729399, 0.180678729399,0.180678729399])*standardization/0.7


    db = pd.DataFrame()

    db = Reactor_data_updated_5[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    for x in [212, 213, '211 plus 214 to 219', 22, '232.1', 233, 24, 26]:  
        db.loc[db.Account == x, 'Site Labor Hours'] = None
        db.loc[db.Account == x, 'Site Labor Cost'] = None
        db.loc[db.Account == x, 'Site Material Cost'] = None


    # # # # Bulk order reduction	
    for x in [212, 213, '211 plus 214 to 219', 22, '232.1', 233, 24, 26]:
        mat_cost_reduction_multiplier = (1 - (fitted_LR.loc[fitted_LR.Account == x, 'Mat LR'].values[0]))**np.log2(n_th)
        lab_cost_reduction_multiplier = (1 - (fitted_LR.loc[fitted_LR.Account == x, 'Lab LR'].values[0]))**np.log2(n_th)
        
        db.loc[db.Account == x, 'Site Material Cost'] =\
            (( Reactor_data_updated_5.loc[ Reactor_data_updated_5.Account == x, 'Site Material Cost']))* mat_cost_reduction_multiplier

        db.loc[db.Account == x, 'Site Labor Hours'] =\
            (( Reactor_data_updated_5.loc[ Reactor_data_updated_5.Account == x, 'Site Labor Hours']))* lab_cost_reduction_multiplier
    
        db.loc[db.Account == x, 'Site Labor Cost'] =\
            (( Reactor_data_updated_5.loc[ Reactor_data_updated_5.Account == x, 'Site Labor Cost']))* lab_cost_reduction_multiplier


    Reactor_data_updated_6 = update_high_level_costs(db, power)
    Reactor_data_updated_6_ = pd.DataFrame()
    Reactor_data_updated_6_ = Reactor_data_updated_6[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                 'Site Material Cost']].copy()
    
    return Reactor_data_updated_6_  


# # # Example 
reactor_power = (reactor_data_read(reactor_type ))[1]
direct_cost_updated = (update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons))[0]





direct_cost_updated_plus_learning = learning_effect(direct_cost_updated , n_th, standardization_0, reactor_power)

direct_cost_updated_plus_learning_pretty = prettify(direct_cost_updated_plus_learning,\
        f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Direct Cost Updated plus learning effect <br> Displaying Direct Cost only<br><br> ", "no_subsidies")
direct_cost_updated_plus_learning_pretty.hide(subset=hidden_list1, axis=0) # show direct cost only

[99.0409508] wer

### Section 3-6 supply chain delays

In [11]:
def act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, cons_duration_no_delay):
    
    if n_th == 1:
        Design_Maturity = Design_Maturity_0
        proc_exp = proc_exp_0
    
    elif n_th>1:
        Design_Maturity = 2
        proc_exp = min( (proc_exp_0 + (2/N_proc)*(n_th-1) ), 2)
             
    # For the accounts 21, 22, 23, 24, 25, 26, 
    # The delays are D_21,D_22,D_23,D_24,D_25,D_26 
    # The tasks lengths (in months) are B_21,B_22,B_23,B_24,B_25,B_26

    # task length ratio between SFR and HTGR is 100/65
    # We use this ratio to convert SFR to HTGT task lengths

    if reactor_type == "Concept B":
        task_length_multiplier = 1
        ref_construction_duration = 64
    elif reactor_type == "Concept A": 
        task_length_multiplier = 100/64
        ref_construction_duration = 100
        
    B_21 =  42.1 * task_length_multiplier # months 
    B_22 = 60.2 * task_length_multiplier
    B_23 = 14.8 * task_length_multiplier
    B_24 = 3.6* task_length_multiplier
    B_25 = 10.1* task_length_multiplier
    B_26 = 43.9* task_length_multiplier


    # The delays are 
    D_21 =  - 6 * Design_Maturity  - 3*proc_exp + 18
    D_22 =  - 6 * Design_Maturity  - 3*proc_exp + 18
    D_23 =   - 6 * Design_Maturity  - 3*proc_exp + 18
    D_24 =   - 6 * Design_Maturity  - 3*proc_exp + 18
    D_25 =   - 6 * Design_Maturity  - 3*proc_exp + 18
    D_26 =   - 6 * Design_Maturity  - 3*proc_exp + 18


    # The tasks completion times (in months) are T_21,T_22,T_23,T_24,T_25,T_26
    T_21 = B_21 + D_21 
    T_22 = 0.09*(B_21+D_21)  +B_22+D_22
    T_23 = 0.24*(B_21+D_21)  +B_23+D_23
    T_24 = 0.24*(B_21+D_21) + 0.34*(B_23+D_23)  +B_24+D_24
    T_25 = 0.18*(B_21+D_21)  +B_25+D_25
    T_26 = 0.21*(B_21+D_21)   +B_26+D_26
    T_end = max(T_21, T_22, T_23, T_24, T_25, T_26)


    supply_chain_delay = max( T_end - ref_construction_duration, 0)
    actual_construction_duration_plus_delay = cons_duration_no_delay + supply_chain_delay
    return actual_construction_duration_plus_delay





# example
reactor_data, reactor_power = (reactor_data_read(reactor_type ))

direct_cost_updated , act_con_duration = update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, \
    design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons)

cons_duration_plus_delay = act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, act_con_duration)

[99.0409508] wer

### Section 3-7 Learning by doing effect on the construction duration

In [12]:
def duration_learning_effect(n_th, standardization_0, actual_construction_duration_plus_delay):
    
    if n_th  == 1:
        standardization = 0.7
    elif n_th >1:
        standardization = standardization_0  
    # now the effect of learning on the consturction duration
    fitted_LR_duration = 0.103719051*standardization/0.7
    duration_multiplier = (1 -fitted_LR_duration)**np.log2(n_th)
    final_construction_duration = duration_multiplier *actual_construction_duration_plus_delay
    return final_construction_duration 

# example
reactor_data, reactor_power = (reactor_data_read(reactor_type ))
direct_cost_updated , act_con_duration = update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons)
cons_duration_plus_delay = act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, act_con_duration)

# cons_duration_plus_delay = act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, act_con_duration)
final_con_duration = duration_learning_effect(n_th, standardization_0, cons_duration_plus_delay)
print(f"The final construction duration of the {reactor_type} reactor is { np.round( final_con_duration[0] , 2) } months")

[99.0409508] wer
The final construction duration of the Concept A reactor is 138.72 months

### Section 3-8 Calculate the Indirect Cost and the standardization impact

In [13]:
def update_indirect_cost(n_th, standardization_0, Reactor_data_updated_6, final_construction_duration, power ):
    
    if n_th  == 1:
        standardization = 0.7
    elif n_th >1:
        standardization = standardization_0     
    #   I use here the indirect cost correlations prepared by Jia

    # When the standardization is  100%, the engineering service accound (Acct 35) is zero, 
    # When the standardization is  70%, the engineering service accound (Acct 35) does not change
    # The account 35 multiplier is

    factor_35 = 10/3* ( 1 - standardization)


    db = pd.DataFrame()

    db = Reactor_data_updated_6[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    for x in [31, 32, 33, 34, 35]:  
        db.loc[db.Account == x, 'Total Cost (USD)'] = None # clear old values


    # # total direct mat cost, labor cost, labor hours
    sum_new_mat_cost  = 0 # initilization
    sum_new_lab_cost  = 0 # initilization
    sum_new_lab_hrs  = 0 # initilization

    for x in [21, 22, 23, 24, 26]:
        sum_new_mat_cost +=     (db.loc[db.Account == x, 'Site Material Cost']).values
        sum_new_lab_cost +=     (db.loc[db.Account == x, 'Site Labor Cost']).values
        sum_new_lab_hrs  +=     (db.loc[db.Account == x, 'Site Labor Hours']).values


    # The new indirect costs   
    db.loc[db.Account == 31, 'Total Cost (USD)'] =  (sum_new_mat_cost*0.785* sum_new_lab_hrs/final_construction_duration/160/1058)\
    + sum_new_lab_cost *0.36

    db.loc[db.Account == 32, 'Total Cost (USD)'] =  sum_new_lab_cost *0.36*3.661* final_construction_duration/72

    db.loc[db.Account == 33, 'Total Cost (USD)'] =  0.04207006 * (db.loc[db.Account == 32, 'Total Cost (USD)'].values[0] )

    db.loc[db.Account == 34, 'Total Cost (USD)'] =  0.00354234616938 * (db.loc[db.Account == 32, 'Total Cost (USD)'].values[0] )

    db.loc[db.Account == 35, 'Total Cost (USD)'] = (0.27017603 * (db.loc[db.Account == 32, 'Total Cost (USD)'].values[0] ))*factor_35 


    Reactor_data_updated_7 = update_high_level_costs(db, power)
    Reactor_data_updated_7_ = pd.DataFrame()
    Reactor_data_updated_7_ = Reactor_data_updated_7[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    return Reactor_data_updated_7_  




# # Example 
_, reactor_power = (reactor_data_read(reactor_type ))
direct_cost_updated , act_con_duration = update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons)





# act_con_duration = update_cons_dur(reactor_data, direct_cost_updated , mod_0)
cons_duration_plus_delay = act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, act_con_duration)
final_con_duration = duration_learning_effect(n_th, standardization_0, cons_duration_plus_delay)

direct_cost_updated_plus_learning = learning_effect(direct_cost_updated , n_th, standardization_0, reactor_power)

direct_cost_updated_plus_learning_with_indirect_cost = update_indirect_cost(n_th, standardization_0, direct_cost_updated_plus_learning, final_con_duration, reactor_power  )

direct_cost_updated_plus_learning_with_indirect_cost_pretty = prettify(direct_cost_updated_plus_learning_with_indirect_cost,\
        f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Base Cost updated (Direct and Indirect costs) <br><br> ", "no_subsidies")

list3 = list(range(38, 69))
hidden_list3 = list1 + list3
direct_cost_updated_plus_learning_with_indirect_cost_pretty.hide(subset=hidden_list3, axis=0) # show direct and indirect cost only

[99.0409508] wer

#### Combine the previous functions in one function

In [14]:
def calculate_base_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, Design_Maturity_0, proc_exp_0, N_proc, standardization_0):
    reactor_power = (reactor_data_read(reactor_type ))[1]
    direct_cost_updated , act_con_duration = update_direct_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons)

    cons_duration_plus_delay = act_cons_duration_plus_delay(reactor_type, n_th, Design_Maturity_0, proc_exp_0, N_proc, act_con_duration)
    final_con_duration = duration_learning_effect(n_th, standardization_0, cons_duration_plus_delay)
    direct_cost_updated_plus_learning = learning_effect(direct_cost_updated , n_th, standardization_0, reactor_power)

    direct_cost_updated_plus_learning_with_indirect_cost = update_indirect_cost(n_th, standardization_0, direct_cost_updated_plus_learning, final_con_duration, reactor_power  )
    return direct_cost_updated_plus_learning_with_indirect_cost, final_con_duration

### Section 3-9 :  Insurance

In [15]:
def insurance_cost_update(Reactor_data_0, Reactor_data_updated_7, power):
    # insurance increases linearly when increaing the sum of the 20s and 30s account
    db = pd.DataFrame()

    db = Reactor_data_updated_7[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    db0 = Reactor_data_0
    db.loc[db.Account == 52, 'Total Cost (USD)'] = None # clear old values

    change_in_insuance_cost = (db.loc[db.Title =='20s - Subtotal', 'Total Cost (USD)'].values\
                            + db.loc[db.Title =='30s - Subtotal', 'Total Cost (USD)'].values)/ (db0.loc[db0.Title =='20s - Subtotal', 'Total Cost (USD)'].values\
                            + db0.loc[db0.Title =='30s - Subtotal', 'Total Cost (USD)'].values)

    db.loc[db.Account == 52, 'Total Cost (USD)'] =  (change_in_insuance_cost[0])* (Reactor_data_updated_7.loc[db.Account == 52, 'Total Cost (USD)'])

    Reactor_data_updated_8 = update_high_level_costs(db, power)

    Reactor_data_updated_8_ = pd.DataFrame()
    Reactor_data_updated_8_ = Reactor_data_updated_8[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    return Reactor_data_updated_8_  

# Example
reactor_data, reactor_power = (reactor_data_read(reactor_type ))
tot_base_cost = (calculate_base_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons,  Design_Maturity_0, proc_exp_0, N_proc, standardization_0))[0]
tot_base_cost_wz_insurance = insurance_cost_update(reactor_data, tot_base_cost , reactor_power)
tot_base_cost_wz_insurance_pretty = prettify(tot_base_cost_wz_insurance,\
            f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Base Cost updated (Direct and Indirect costs) plus insurance <br><br> ", "no_subsidies")


list4 = list(range(46, 69))
hidden_list4 = list1 + list4
tot_base_cost_wz_insurance_pretty.hide(subset=hidden_list4, axis=0)

[99.0409508] wer

### Section 3-10 :  Interest

In [16]:
def update_interest_cost(Reactor_data_updated_8, final_construction_duration, interest_rate, startup_0, n_th, power):
    # Read the ref spending curve
    sp = pd.read_excel('inputs.xlsx', sheet_name = "Ref Spending Curve", nrows= 104, usecols='A : D')
    Months = sp['Month'].tolist()
    CDFs  = sp['CDF'].tolist()
    
    annual_periods = np.linspace(12, 12*int(final_construction_duration/12),int(final_construction_duration/12))
   
    if max(annual_periods) < int(final_construction_duration)-1:
        annual_periods_1= np.append( annual_periods, (final_construction_duration)-1)
    else:
        annual_periods_1 = annual_periods
    
    annual_cum_spend = []
    for period in annual_periods_1:
        new_period = 103*period/int(final_construction_duration)
        
        annual_cum_spend.append(np.interp(new_period, Months, CDFs))
    annual_spend1 = np.append(annual_cum_spend[0], np.diff(annual_cum_spend ))
    
    tot_overnight_cost =   (Reactor_data_updated_8.loc[Reactor_data_updated_8.Title == 'Total Overnight Cost (Accounts 10 to 50)' , 'Total Cost (USD)']).values[0]

    annual_loan_add =  annual_spend1 *tot_overnight_cost
    
    interest_exp = ((1+interest_rate)**((final_construction_duration -annual_periods_1)/12)) * annual_loan_add - annual_loan_add
    
    tot_int_exp_construction = sum(interest_exp )
    if n_th == 1:
        startup = startup_0
    elif n_th >1:
        startup = max( 7 , startup_0*(1-0.3)**np.log2(n_th)  )
    
    int_exp_startup = (tot_int_exp_construction + tot_overnight_cost)*((1+interest_rate)**(startup/12))-(tot_int_exp_construction + tot_overnight_cost)
    db = pd.DataFrame()

    db = Reactor_data_updated_8[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    db.loc[db.Account == 62, 'Total Cost (USD)'] = None # clear old values

    (db.loc[db.Account == 62, 'Total Cost (USD)']) = int_exp_startup +tot_int_exp_construction 


    Reactor_data_updated_9 = update_high_level_costs(db, power)

    Reactor_data_updated_9_ = pd.DataFrame()
    Reactor_data_updated_9_ = Reactor_data_updated_9[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    
    tot_cap_investment = Reactor_data_updated_9.loc[Reactor_data_updated_9.Title =='Total Capital Investment Cost (All Accounts)', 'Total Cost (USD)'].values
    
    return Reactor_data_updated_9_, tot_overnight_cost, tot_cap_investment



# Example
reactor_data, reactor_power = (reactor_data_read(reactor_type ))
tot_base_cost, final_construction_duration = (calculate_base_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, Design_Maturity_0, proc_exp_0, N_proc, standardization_0))

tot_base_cost_wz_insurance = insurance_cost_update(reactor_data, tot_base_cost , reactor_power)
tot_base_cost_wz_insurance_interest = (update_interest_cost(tot_base_cost_wz_insurance , final_construction_duration, interest_rate_0, startup_0, n_th, reactor_power))[0]



tot_base_cost_wz_insurance_interest_pretty = prettify(tot_base_cost_wz_insurance_interest,\
            f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary - Base Cost updated (Direct and Indirect costs) plus insurance and interest <br><br> ", "no_subsidies")

tot_base_cost_wz_insurance_interest_pretty

[99.0409508] wer

### Section 3 - 11 :  ITC Subsidies

In [17]:
def update_itc(Reactor_data_updated_9, tot_overnight_cost, tot_cap_investment, n_th, ITC_0, n_ITC, reactor_power):
    
    if n_th <= n_ITC:
        ITC = ITC_0
    else:
        ITC =0
    
    db1 = pd.DataFrame()
    db1 = Reactor_data_updated_9[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()

    ITC_cost_reduction_factor = ITC_reduction_factor(ITC)

    ITC_reduced_OCC =tot_overnight_cost*ITC_cost_reduction_factor
    OCC_cost_reduction_due_to_TCI =  tot_overnight_cost -  ITC_reduced_OCC 

    db1.loc[db1.Title== 'Total Overnight Cost - ITC reduced', 'Total Cost (USD)'] = None # clear old values
    db1.loc[db1.Title== 'Total Overnight Cost -ITC reduced (US$/kWe)', 'Total Cost (USD)'] = None # clear old values
    db1.loc[db1.Title== 'Total Capital Investment Cost - ITC reduced', 'Total Cost (USD)'] = None # clear old values
    db1.loc[db1.Title== 'Total Capital Investment Cost - ITC reduced (US$/kWe)', 'Total Cost (USD)'] = None

    db1.loc[db1.Title== 'Total Overnight Cost - ITC reduced', 'Total Cost (USD)'] = ITC_reduced_OCC
    db1.loc[db1.Title== 'Total Overnight Cost -ITC reduced (US$/kWe)', 'Total Cost (USD)'] = ITC_reduced_OCC/reactor_power
    db1.loc[db1.Title== 'Total Capital Investment Cost - ITC reduced', 'Total Cost (USD)'] = tot_cap_investment - OCC_cost_reduction_due_to_TCI 
    
    #Net capital investment_per_kw
    levelized_NCI = (db1.loc[db1.Title== 'Total Capital Investment Cost - ITC reduced', 'Total Cost (USD)'].values[0])/reactor_power
    db1.loc[db1.Title== 'Total Capital Investment Cost - ITC reduced (US$/kWe)', 'Total Cost (USD)'] = levelized_NCI


    Reactor_data_updated_10 = update_high_level_costs(db1, reactor_power)

    Reactor_data_updated_10_ = pd.DataFrame()
    Reactor_data_updated_10_ = Reactor_data_updated_10[['Account', 'Title', 'Total Cost (USD)', 'Factory Equipment Cost', 'Site Labor Hours', 'Site Labor Cost',\
                    'Site Material Cost']].copy()
    return Reactor_data_updated_10_ , ITC_reduced_OCC/reactor_power, levelized_NCI 





# Example
reactor_data, reactor_power = (reactor_data_read(reactor_type ))
tot_base_cost, final_construction_duration  = (calculate_base_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, Design_Maturity_0, proc_exp_0, N_proc, standardization_0))

tot_base_cost_wz_insurance = insurance_cost_update(reactor_data, tot_base_cost , reactor_power)
tot_base_cost_wz_insurance_interest, tot_overnight_cost, tot_cap_investment = update_interest_cost(tot_base_cost_wz_insurance , final_construction_duration, interest_rate_0, startup_0, n_th, reactor_power)


Final_Result = update_itc(tot_base_cost_wz_insurance_interest, tot_overnight_cost, tot_cap_investment, n_th, ITC_0, n_ITC, reactor_power)
Final_Result_COA = Final_Result[0]

Final_Result_pretty = prettify(Final_Result_COA,\
            f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor <br> Capital Cost Summary  <br><br> ", "subsidies")

Final_Result_pretty

[99.0409508] wer

## Section 4 :  The Final Result

#### A Python function to combine all the previous ones

In [18]:
def calculate_final_result(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0,\
    num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, mod_0, Design_Maturity_0, proc_exp_0, N_proc, standardization_0, interest_rate_0, startup_0): 

    reactor_data, reactor_power = (reactor_data_read(reactor_type ))
    tot_base_cost , final_construction_duration= calculate_base_cost(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0, num_orders, design_completion_0, ae_exp_0,\
        N_AE, ce_exp_0, N_cons, Design_Maturity_0, proc_exp_0, N_proc, standardization_0)
 

    tot_base_cost_wz_insurance = insurance_cost_update(reactor_data, tot_base_cost , reactor_power)
    tot_base_cost_wz_insurance_interest, tot_overnight_cost, tot_cap_investment = update_interest_cost(tot_base_cost_wz_insurance , final_construction_duration, interest_rate_0, startup_0, n_th, reactor_power)


    Final_Result = update_itc(tot_base_cost_wz_insurance_interest, tot_overnight_cost, tot_cap_investment, n_th, ITC_0, n_ITC, reactor_power)
    Final_Result_COA, levelized_net_OCC, levelized_NCI = Final_Result

    return Final_Result_COA, levelized_net_OCC, levelized_NCI, final_construction_duration[0]

#### Examples

In [19]:
# Example 1
result = calculate_final_result(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0,\
        num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, mod_0, Design_Maturity_0, proc_exp_0, N_proc, standardization_0, interest_rate_0, startup_0)

FOAK_cost_pretty = prettify(result[0],\
            f" The {reactor_type} {np.round(reactor_power/1000,1)} MWe Reactor ({n_th}th of a kind) <br> Capital Cost Summary  <br><br> ", "subsidies")
FOAK_cost_pretty

[99.0409508] wer

In [20]:
# Example 2
for n_th in [1,2,3,10]:
    results = calculate_final_result(reactor_type, n_th, f_22, f_2321, land_cost_per_acre_0, RB_grade_0, BOP_grade_0,\
        num_orders, design_completion_0, ae_exp_0, N_AE, ce_exp_0, N_cons, mod_0, Design_Maturity_0, proc_exp_0, N_proc, standardization_0, interest_rate_0, startup_0)
    print("\n")
    print(f"The Cost of reactor unit # {n_th} ({n_th}th of a kind)")
    print(f"ITC-reduced OCC = {int(results[1])} $/kWe")
    print(f"ITC-reduced TCI = {int(results[2])} $/kWe")
    print(f"Construction Duration = {np.round(results[3],1)} months")

[99.0409508] wer


The Cost of reactor unit # 1 (1th of a kind)
ITC-reduced OCC = 12126 $/kWe
ITC-reduced TCI = 18830 $/kWe
Construction Duration = 138.7 months
[99.0409508] wer


The Cost of reactor unit # 2 (2th of a kind)
ITC-reduced OCC = 6677 $/kWe
ITC-reduced TCI = 9048 $/kWe
Construction Duration = 100.1 months
[99.0409508] wer


The Cost of reactor unit # 3 (3th of a kind)
ITC-reduced OCC = 5099 $/kWe
ITC-reduced TCI = 6560 $/kWe
Construction Duration = 85.1 months
[99.0409508] wer


The Cost of reactor unit # 10 (10th of a kind)
ITC-reduced OCC = 3737 $/kWe
ITC-reduced TCI = 4461 $/kWe
Construction Duration = 65.1 months